<div formGroupName="addressForm">
    <h2>Address</h2>
    <div class="form-group">
        <label for="addressLine">Address Line</label>
        <input type="text"
               id="addressLine"
               class="form-control"
               formControlName="addressLine"
               required/>
        <!--<div
          *ngIf="addressLine?.invalid && (addressLine?.dirty || !addressLine?.untouched)"
          class="alert alert-danger"
        >
          <div *ngIf="addressLine?.errors?.['required']">Address Line is required.</div>
        </div>-->
        <div *ngIf="addressForm.get('addressLine')?.invalid && addressForm.get('addressLine')?.touched">
            addressLine is required.
        </div>
    </div>

    <div class="form-group">
        <label for="city">City</label>
        <select
                id="city"
                class="form-control"
                formControlName="city"
                required>
            <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
        </select>
        <div
                *ngIf="addressForm.get('city')?.invalid && (addressForm.get('city')?.dirty || !addressForm.get('city')?.untouched)"
                class="alert alert-danger"
        >
            <div *ngIf="addressForm.get('city')?.errors?.['required']">City is required.</div>
        </div>
    </div>

    <div class="form-group">
        <label for="postalCode">Postal Code</label>
        <input type="text"
               id="postalCode"
               class="form-control"
               formControlName="postalCode"
               pattern="",
               minlength=""
               required/>
        <div *ngIf="addressForm.get('postalCode')?.invalid && (addressForm.get('postalCode')?.dirty || !addressForm.get('postalCode')?.untouched)"
             class="alert alert-danger"
        >
            <div *ngIf="addressForm.get('postalCode')?.errors?.['required']">Postal Code is required.</div>
            <div *ngIf="addressForm.get('postalCode')?.errors?.['minlength']">Length Error!(Too short)</div>
            <div *ngIf="addressForm.get('postalCode')?.errors?.['postalCodeInvalid']">Postal Code must be valid. Canada Postal Code
                Pattern is
                ('ANA NAN', where 'A'
                represents an alphabetic character and 'N' represents a numeric character ( e.g. , K1A 0T6))
            </div>
            <div *ngIf="addressForm.get('postalCode')?.errors?.['maxlength']">Length Error!(Too long)</div>
        </div>
    </div>
    <!--        </div>-->

</div>
